<app-header></app-header>

<div class="container">
    <div class="row bg-success text-center text-white">
        <h1 class="my-5">Contact Us</h1>
        <p class="mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolor harum numquam debitis, sed
            quibusdam dignissimos voluptas illum <br> ab facere nobis sint qui modi consequuntur assumenda labore saepe,
            laborum doloremque.</p>
    </div>

    <div class="row my-5">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h1>Get In Touch</h1>
            <p class="my-3" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Commodi alias at asperiores quia, explicabo aut corrupti provident ratione totam dolor impedit quas
                itaque laboriosam. Est quos cum ullam laboriosam voluptatem.</p>
            <div class="row my-3">
                <div class="col-2">
                    <div style="width: 50px;height: 50px; border-radius:50%;"
                        class="bg-success d-flex justify-content-center align-items-center">
                        <div class="fa-solid fa-location text-white"></div>
                    </div>
                </div>
                <div class="col-10">
                    <h3>Address</h3>
                    <p>NYC 7865 , Po Berlin</p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-2">
                    <div style="width: 50px;height: 50px; border-radius:50%;"
                        class="bg-success d-flex justify-content-center align-items-center">
                        <div class="fa-solid fa-envelope text-white"></div>
                    </div>
                </div>
                <div class="col-10">
                    <h3>Email</h3>
                    <p>infogmail.com</p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-2">
                    <div style="width: 50px;height: 50px; border-radius:50%;"
                        class="bg-success d-flex justify-content-center align-items-center">
                        <div class="fa-solid fa-phone text-white"></div>
                    </div>
                </div>
                <div class="col-10">
                    <h3>Phone</h3>
                    <p>111111111111</p>
                </div>
            </div>

            <hr>

            <h3>Follow Us</h3>
            <div class="d-flex mt-4">
                <div style="width: 50px;height: 50px; border-radius:50%;"
                    class="bg-success d-flex justify-content-center align-items-center">
                    <div class="fa-brands fa-facebook text-white"></div>
                </div>
                <div style="width: 50px;height: 50px; border-radius:50%;"
                    class="bg-success d-flex justify-content-center align-items-center mx-3">
                    <div class="fa-brands fa-instagram text-white"></div>
                </div>
                <div style="width: 50px;height: 50px; border-radius:50%;"
                    class="bg-success d-flex justify-content-center align-items-center">
                    <div class="fa-brands fa-twitter text-white"></div>
                </div>
                <div style="width: 50px;height: 50px; border-radius:50%;"
                    class="bg-success d-flex justify-content-center align-items-center mx-3">
                    <div class="fa-brands fa-youtube text-white"></div>
                </div>
            </div>
        </div>

        <div class="col-md-5 px-md-5 px-4 mt-5 ">
            <form class="shadow p-5" (ngSubmit)="addTestimonials()">
                <h1>Client Testimony</h1>
                <div class="mb-3 mt-3">
                    <input type="text" name="name" [(ngModel)]="name" placeholder="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="text" name="email" [(ngModel)]="email" placeholder="Email" class="form-control">
                </div>
                <div class="mb-3">
                    <textarea type="text" name="message" [(ngModel)]="message" placeholder="Message"
                        class="form-control"></textarea>
                </div>
                <div>
                    <button class="btn btn-success form-control">Submit</button>
                </div>
            </form>
        </div>

        <div class="col-md-1"></div>
    </div>
    <!-- location -->
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7841.092658200371!2d76.14524794338683!3d10.692278800396911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7c1c76285c7ef%3A0x9ccf867ccbce1da8!2sChembadi%2C%20Kerala%20680584!5e0!3m2!1sen!2sin!4v1772880617148!5m2!1sen!2sin"
        class="mb-5" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>