<div class="bg-success text-light p-3 h-100 min-vh-100" style="cursor: pointer;">
    <h5 routerLink="/admin-dashboard"> <i class="fa-solid fa-bars"></i> Dashboard</h5>
    <h5 routerLink="/admin-recipelist" class="mt-4"> <i class="fa-solid fa-bowl-rice"></i> Recipes</h5>
    <h5 routerLink="/admin-userlist" class="mt-4"> <i class="fa-solid fa-user"></i> Users</h5>
    <h5 routerLink="/admin-downloadlist" class="mt-4"> <i class="fa-solid fa-download"></i> Downloads</h5>
    <h5 routerLink="/admin-feedback" class="mt-4"> <i class="fa-solid fa-message"></i> Requests</h5>
</div>