<app-header></app-header>

<div class="container">
    <div class="row mt-2">
        <div class="col-md-6 bg-success d-flex justify-content-center align-items-center">
           <img class="w-50" src="https://static.vecteezy.com/system/resources/thumbnails/024/991/947/small_2x/fresh-fruit-basket-fresh-fruits-basket-colorful-fruits-green-fruits-transparent-background-ai-generated-png.png" alt="">
        </div>
        <div class="col-md-6 p-5">
            <h1>Welcome To Cookpedia</h1>
            <p>Discover 100+ recipe in your hand with the best recipe.
                Help you to find easiet way to cook.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <div>
                <h1>About Us</h1>
                <p class="my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nostrum autem fugiat mollitia, ex quod assumenda ratione, quibusdam nemo nam pariatur ad nihil earum, exercitationem officiis totam voluptatum molestias consequuntur.</p>
                <ul class="mb-5">
                    <li>jjjjjjjjjjjjjjjjjjjjj</li>
                    <li>jjjjjjjjjjjjjjjjjjjjj</li>
                    <li>jjjjjjjjjjjjjjjjjjjjj</li>
                    <li>jjjjjjjjjjjjjjjjjjjjj</li>
                </ul>
                <button class="btn btn-success">Know more about us</button>
            </div>
        </div>
        <div class="col-md-6 ">
            <img  src="https://tse4.mm.bing.net/th/id/OIP.td7RXwmTZGNwTfIh-R-KzAHaJx?rs=1&pid=ImgDetMain&o=7&rm=3" alt="">
        </div>
    </div>
</div>